* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

button{
    animation: zoomIn 0.9s ease forwards;
    animation-delay: 0.3s;
    transform: scale(0.8);
    opacity: 0;
}

/* Header -Start */

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#main {
    background: url(portfolio5.avif) no-repeat center;
    width: 100%;
    background-size: cover;
}

#main header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 8% 1% 8%;
    position: relative;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

header a {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: black;
    text-decoration: none;
}

header ul a {
    opacity: 0;
    display: inline-block;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    animation-fill-mode: both;
    font-size: 1.2rem;
}

a {
    font-size: 18px;
}

.logo {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 22px;
    animation: slideRight .8s ease forwards;
    animation-fill-mode: both;
}

header a:hover {
    text-decoration: underline;
    color: rgb(131, 129, 128);
}

#check,
#bar {
    display: none;
}

.fa-bars {
    position: sticky;
}

/* Home Page -Start */

#home {
    /* border: 1px solid gray; */
    display: flex;
    align-items: center;
    margin: 5% 8%;
    justify-content: space-between;
    padding: 0 5%;
}

.home {
    /* border: 1px solid black; */
    margin-top: 2rem;
    width: 58%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home p {
    font-size: 16px;
    color: rgb(90, 89, 88);
    animation: slideRight .8s ease forwards;
    animation-fill-mode: both;
}

.home h1 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
    animation: slideRight .8s ease forwards;
    animation-fill-mode: both;
}

.top-btn h3 span {
    background: linear-gradient(to right, rgba(13, 13, 13, 0.893), rgb(72, 71, 71), rgb(227, 27, 27), rgb(9, 88, 115), rgb(135, 174, 176));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animation-gradient 2s linear infinite;
    animation: slideRight .8s ease forwards;
    animation-fill-mode: both;
}

.about-head,
.skill-head,
.project-head,
.contact-head {
    background: linear-gradient(to right, rgba(13, 13, 13, 0.893), rgb(72, 71, 71), rgb(227, 27, 27), rgb(9, 88, 115), rgb(135, 174, 176));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animation-gradient 4s linear infinite;
}

@keyframes animation-gradient {
    to {
        background-position: 200%;
    }
}

.animated-text span {
    position: relative;
    animation: slideRight .8s ease forwards;
    animation-fill-mode: both;
}

.animated-text span::before {
    content: "MERN Stack Developer";
    color: #0a0300;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #fbfbfc;
    border-left: 2px solid #090909;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #ede9e9eb;
    }
}

@keyframes words {

    0%,
    20% {
        content: "MERN Stack Developer";
    }

    21%,
    40% {
        content: "MERN Stack Developer";
    }

    41%,
    60% {
        content: "MERN Stack Developer";
    }

    61%,
    80% {
        content: "MERN Stack Developer";
    }

    81%,
    100% {
        content: "MERN Stack Developer";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100%+8px);
    }
}


.cv {
    margin-left: 8px;
}

.button button {
    padding: 8px 12px;
    border-radius: 20px;
    background-color: transp arent;
    color: black;
    border: 1px solid;
}

.button button:hover {
    background-color: rgb(70, 68, 68);
    color: rgb(212, 208, 208);
    transition: all 1s;
}

.top-btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.home2 .meena{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
}

/* Home Page -End */

/* About Page -Start */

#about {
    background: url(portfolio5.avif) no-repeat center;
    width: 100%;
    background-size: cover;
    color: black;
}

.about-head {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-head a {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about1 {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}

.about-lft {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(212, 208, 208);
    transition: all 0.4s;
}

.certificate {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(212, 208, 208);
    transition: all 0.4s;
}

.about-rgt {
    width: 39%;
    border-radius: 20px;
    padding: 15px 10px 0px 20px;
}

.edu {
    padding: 0px 0px 20px 30px;
    color: rgb(82, 80, 80);
    font-size: 20px;
}

.education {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
    border-left: 2px solid rgb(82, 80, 80);
}

.education span {
    font-size: 20px;
}

.box {
    position: relative;
    padding: 20px;
    border: 1px solid rgb(221, 220, 219);
    background-color: rgb(212, 208, 208);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.box:hover,
.about:hover,
.certificate:hover,
.s-box:hover,
.soft2:hover {
    box-shadow: 0px 3px 5px 0px rgb(82, 80, 80);
    border: 1px solid transparent;
}

.box::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: rgb(82, 80, 80);
    border: 2px solid white;
}

.box h4 {
    color: rgb(58, 57, 57);
}

.box h3 {
    padding: 10px 0px 6px;
}

.box p {
    line-height: 1.2;
}

/* ----------------About Page -End ----------------------*/

/* ----------------Skills Page -Start-------------------- */

#skills {
    background: url(portfolio5.avif) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-head a {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.tech-head a {
    font-size: 27px;
    text-decoration: none;
    color: rgb(34, 33, 33);
    font-weight: bold;
}

.skill-tech {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    padding: 30px;
    border-radius: 20px;
    gap: 30px;
}

.analysis {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.web {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.sbox-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.s-box p {
    margin-left: 28px;
}

.s-box {
    position: relative;
    padding: 20px;
    border: 1px solid rgb(221, 220, 219);
    background-color: rgb(212, 208, 208);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    line-height: 1.5;
}

.analysis .s-box1,
.s-box3,
.s-box5,
.s-box7,
.soft22,
.soft23,
.soft26 {
    background-color: rgb(144, 146, 144);
}

.soft21,
.soft24,
.soft25 {
    background-color: rgb(212, 208, 208);
}

.skills-soft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.soft1 {
    /* border: 1px solid; */
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 7% 0px;
}

.soft11 {
    display: flex;
    gap: 25px;
}

.soft12 {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.soft13 {
    display: flex;
    gap: 25px;
}

.soft2 {
    width: 220px;
    padding: 13px 0;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
}

.soft-head {
    background-color: rgb(212, 208, 208);
    border-radius: 30px;
}

.soft-head1 a {
    font-size: 27px;
    text-decoration: none;
    color: rgb(34, 33, 33);
    font-weight: bold;
}

.soft-head1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    display: none;
}

.soft-head a {
    font-size: 27px;
    text-decoration: none;
    color: rgb(34, 33, 33);
    font-weight: bold;
}

.soft23,
.soft24 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.so-box5 {
    width: 250px;
    padding: 15px 20px;
    text-align: start;
}

/* -------------------Project Page -Start---------------- */


.project {
    /* border: 1px solid; */
    padding: 35px;
    background: url(portfolio5.avif) no-repeat center;
    width: 100%;
    background-size: cover;
}

.project h1 {
    text-align: center;
}

.project .container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.p-box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.p-box img {
    flex: 1 1 1 30rem;
    width: 18rem;
    height: 20rem;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(161, 160, 160, 0.6), rgb(103, 102, 102));
    border-radius: .5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    color: aliceblue;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: rgb(150, 146, 146);
    text-decoration: none;
    font-size: 18px;
    line-height: 1.2;
    background: #fff;
    padding: 10px 12px;
    border-radius: 50%;
    text-align: center;
}

.p-box:hover img {
    transform: scale(1.1);
}

.p-box:hover .layer {
    height: 100%;
}

/* -----------------Project Page -End -------------------*/

/* -----------------Contact Page -Start -------------------*/

#contact {
    background: url(portfolio5.avif) no-repeat center;
    width: 100%;
    background-size: cover;
}

.contact-head {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    gap: 4rem;
    display: flex;
    justify-content: center;
    padding: 30px;

}

.contact-lft {
    flex: 1 1 30rem;
    display: flex;
    padding: 3.5% 0 3% 0;
    padding-left: 3%;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    background-image: url(contact\ page2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: .5rem;
}

.c-box {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.c-box .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: gray;
    color: aliceblue;
}

.contact .contact-rgt {
    flex: 1 1 30rem;
    display: flex;
    gap: 3rem;
    align-items: center;

}

.contact .contact-rgt form {
    flex: 1 1 40rem;
    padding: .8rem 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}

.contact .contact-rgt form .box {
    padding: .7rem;
    font-size: 1rem;
    color: #333;
    text-transform: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .contact-rgt form .box:focus {
    border-color: rgb(52, 51, 51);
}

.contact .contact-rgt form textarea {
    height: 6rem;
    resize: none;
}

.btn {
    padding: 8px 12px;
    border-radius: 20px;
    background-color: transparent;
    color: black;
    border: 1px solid;
    transition: 1s all;
}

.btn:hover {
    background-color: rgb(70, 68, 68);
    color: rgb(212, 208, 208);
}

.credit {
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    font-size: 1.2rem;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.credit span {
    color: gray;
}

/* -----------------Media Query -Start-------------------*/

@media (max-width:800px) {

    /* Header -Start */
    #home {
        padding: 0px;
    }

    header {
        top: 20px;
    }

    nav {
        display: flex;
        position: absolute;
        left: -100%;
        top: 60px;
        /* border: 1px solid; */
        border-radius: 25px;
        width: 90%;
        height: 250px;
        align-items: center;
        justify-content: center;
        background-color: rgba(37, 37, 65, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(26, 134, 180, 0.1);
        transition: all 2s;
        margin: auto;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    a {
        color: rgb(246, 246, 248);
        font-size: 20px;
    }

    #bar {
        display: block;
        color: black;
    }

    #check:checked~nav {
        left: 5%;
    }

    /* Header -End  */

    /* Home Page -Start */

    #home {
        /* border: 1px solid black; */
        flex-direction: column;
        gap: 50px;
        margin-top: 15%;
    }

    .home {
        /* border: 1px solid black; */
        width: 100%;
        margin: auto;
    }

    #about {
        width: 100%;
    }

    .skill-tech {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 25px 0px;
        width: 85%;
    }

    .analysis {
        /* border: 1px solid red; */
        display: flex;
        gap: 20px;
    }

    #skills {
        display: flex;
        gap: 20px;
    }

    .soft-head1 {
        display: flex;
        margin: auto;
    }

    .soft-head {
        display: none;
    }

    .soft12 {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .project-rgt .project-img {
        background: none;
    }

    .contact {
        flex-wrap: wrap;
    }
}

@media (max-width:700px) {
    .sbox-container{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sbox-container .s-box{
        width: 300px;
    }
}


@media (max-width:560px) {
    .home {
        width: 96%;
    }

    .about-lft {
        width: 95%;
    }

    .about1 {
        margin-top: 10px;
    }

    .about-rgt {
        padding: 0px;
    }

    .education {
        margin-top: 20px;
    }

    .about-head a {
        font-size: 25px;
    }

    .skill-box {
        flex-direction: column;
    }
}

@media (max-width:514px) {

    .soft11,
    .soft13 {
        display: flex;
        flex-direction: column;
    }

    .soft12 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .skill-tech {
        width: 90%;
    }
}

@media (max-width:450px) {

    .about-head a {
        font-size: 23px;
    }

    .edu {
        padding: 0px 0px 20px 30px;
        color: rgb(82, 80, 80);
        font-size: 18px;
    }

    .about,
    .certificate h1 {
        font-size: 25px;
    }

    .project-lft {
        display: flex;
        width: 95%;
        gap: 30px;
    }

    .project-rgt {
        display: flex;
        width: 92%;
    }
}

@media (max-width:970px) {
    
    .about1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about-lft {
        width: 80%;
    }

    .about-rgt {
        display: flex;
        width: 90%;
    }

    #project {
        display: flex;
        flex-direction: column;
    }
}